@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}


/* .bg-chat-pattern {
  background-image: radial-gradient(circle at 1px 1px, rgba(255, 255, 255, 0.05) 1px, transparent 0);
  background-size: 24px 24px;
} */


/* forces the Google Maps Autocomplete dropdown to become a "drop-up" */
.pac-container {
  position: fixed !important;
  top: auto !important;
  bottom: unset !important;
  transform: translateY(-100%) !important;
  margin-top: -65px !important;
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(230, 228, 228);
}

html {
  scroll-behavior: smooth;
}

.marketSelection::-webkit-scrollbar {
  width: 6px;
}
.marketSelection::-webkit-scrollbar-track {
  background: transparent;
}
.marketSelection::-webkit-scrollbar-thumb {
  background-color: #93a1b7;
  border-radius: 8px;
}
.marketSelection::-webkit-scrollbar-thumb:hover {
  background-color: #1f2937;
}

@keyframes fade-dot {
  0% { opacity: 1; }
  100% { opacity: 0.1; }
}

.animate-fade-dot {
  animation: fade-dot 1s infinite linear;
}
